#page_header{
    text-align: center;
    background-color:#3d6488;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white

}

.card-body{
    background-color: #3d6488;
    color: white;
}

#searchbtn{
    background-color: #3d6488;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    border-radius: 2px; 
}

.hide {
    display: none;
}

#searched-cities {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
}


button {
    margin: 5px;
    background-color: #3d6488;
    color: #ffffff;
}

.form-control {
    display:inline;
    width: 80%;
}

.col-sm {
    background-color: #3d6488;
    color: #ffffff;
    margin: 10px;
}